.sub-post {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(86, 86, 83);
    padding: 10px;
    z-index: 100;
    /* Custom scrollbar styling */
}

.reset-ml {
    margin-left: -0.8rem;
}
